@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9fafb;
}

svg {
  width: 24px;
  height: 24px;
  max-width: 24px;
  max-height: 24px;
}
